.main {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 9px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  width: 450px;
}

.container {
  align-items: center;
  background-color: #e5e5e5;
  display: flex;
  font-family: "Helvetica New", Helvetica, sans-serif;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
}

.telInput {
  border: 1px solid #adbcc5;
  box-sizing: border-box;
  border-radius: 3px;
  color: #19303d;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  height: 45px;
  line-height: 25px;
  white-space: nowrap;
  max-width: 320px;
  width: 100%;
  padding-left: 10px;
}

.phoneNumber {
  border-left: none;
  border-radius: 0 3px 3px 0;
  margin-left: -6px;
  flex-grow: 1;
  font-size: 18px;
  height: 40px;
  width: 60%;
}
.logoutButton {
  background-color: #0577ca;
  border: none;
  border-radius: 3px;
  color: white;
  height: 45px;
  margin-bottom: 30px;
  margin-top: 12px;
  padding-top: 12px;
  max-width: 320px;
  width: 100%;
  font-size: 18px;
}
.sendOTPButton {
  background-color: #0577ca;
  border: none;
  border-radius: 3px;
  color: white;
  height: 45px;
  margin-bottom: 30px;
  margin-top: 12px;
  padding-top: 12px;
  max-width: 320px;
  width: 100%;
  font-size: 18px;
}

.header {
  background: "white";
  height: 100px;
  position: absolute;
  top: 100px;
  width: 100%;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 5px;
  line-height: 1.15;
  font-size: 1rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 0.7rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.passcodeInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.passcodeInput {
  border-radius: 10px;
  font-size: 20px;
  width: 48px;
  height: 45px;
  text-align: center;
}

.flag {
  background: url("/stars-and-stripes.png") no-repeat scroll 7px 15px;
  height: 40px;
  border-right: none;
  border-radius: 3px 0 0 3px;
  font-size: 15px;
  width: 20%;
  padding-left: 52px;
}
